.button {
    background: rgba(255, 255, 255, 0.8);
    border: 2px solid orange;
    border-radius: 5px 0 0 0;
    color: black;
    display: inline-block;
    font-size: 15px;
    font-weight: 300;
    padding: 8px 12px;
    text-align: center;
    white-space: nowrap;
    text-transform: uppercase;
}
.buttoncenter {
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
}
.buttoncenter:hover, .button:hover {
    color: white;
    transition: all 0.3s linear 0s;
    background-color: orange;
}
.produit{
    padding: 0;
    height: auto;
    width: 80%;
    margin: 0 auto !important;
    border: 2px solid orange;
    border-radius: 5px 0 10px 0;
}
.produit:hover, .produit-grand:hover{
    transition: all 0.3s linear 0s;
    background-color: orange;
}
.produit img{
    width: 100%;
    display: block;
    height: 230px;
}
.produit-grand p{
    display: block;
    margin: 10px 0;
    font-weight: 900;
    text-transform: uppercase;
}
.produit p{
    display: block;
    margin: 10px 0;
    font-weight: 100;
    text-transform: uppercase;  
}
.produit a, .produit-grand a{
    text-decoration: none;
    color: black;  
}
.produit a:hover, .produit-grand a:hover{
    color: white;  
}
/*bouton*/
.buttonunder{
    display: block;
    margin: 0 auto;
}
/*slider Instagram*/
.snapwidget-widget{
    border: none;
    overflow: hidden;
    width: 100%;
    height: 200px;
    margin-bottom: 30px;
}
#instagram{
    padding: 50px 0 0 0;
    overflow: hidden;
    width: 100%;
}

/*======= FOOTER =======*/
footer{
    background-color: #eae9e8;
    margin-top: 40px;
}
.infos-service{
    padding: 10px;
    margin-top: 10px;
    text-align: center;
}
.infos-service a, .infos-bas-page a{
    text-decoration: none;
    color: grey;
}
.infos-service a:hover, .infos-bas-page a:hover{
    color: orange;
}
.petit-cercle{
    border-radius:50%;
    width:20px;
    height:20px;
    border:1px solid #000;
    display: inline-block;
}
footer span{
    display: inline-block;
    margin-left: 10px;
}
.input-group, .form-control{
    height: 40px;
    margin-bottom: 30px;
}
footer .input-group-addon{
    background-color: white;
    margin-top: 30px;
}
#newsletter{
    font-size: 25px;
    margin: 30px 0;
}
#newsletter span{
    padding-bottom: 10px;
}
.infos-bas-page{
    font-size: 12px;
    color: grey;
}
.infos-bas-page p{
    text-align: left;
}